
       @media only  screen and (min-width:409px) {
    .imghum {
    top:17%;
    height: 100%;
    left: -41%;
    object-fit: contain;
    object-position: center;
    }
  }

@media only screen and (max-width: 435px) {
  .HumpheryO {
    max-width:1000px;
    width:100%; 
    height: auto; 
     /* keeps aspect ratio */
  }
    .HumpheryO .imgEliza {
      width:80px;
    }
}


    @media only screen and (min-width:768px) {
    .HumpheryO{
max-width: 1000px;
}
  }

